@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

$global-yellow: rgba(255, 188, 44, 1);
$global-green:rgba(11, 132, 87, 1);
$global-darkgray:rgba(94, 96, 115, 1);
$global-white:rgba(247, 247, 247, 1);
$global-gray:rgba(94, 96, 115, 0.54);
$glabal-black:rgba(0, 0, 0, 0.5);

// Font Familiy

$global-fontfamiliy:"Inter", sans-serif;

